mixin Applicant(config)
   .applicant.d-flex.justify-content-between.text-1000
      .d-flex.align-items-center
         img.rounded-circle.my-2(src=config.image, alt="")
         p.fs-2.m-0.mx-1.fw-semi-bold #{config.name}
      .d-flex.align-items-center
         img.star(src=`${CWD}assets/img/icons/star.svg`, alt="")
         p.m-0.mx-1.fw-medium 4.8