mixin FeatureCard(config)
    .card.py-md-6.px-md-4.mt-3.h-100.box-shadow-2.border-0
        .card-body
            img(src=config.img, alt="")
            h3.py-3 #{config.title}
            p.lead.lh-base.mb-0 #{config.details}

