mixin TitleText(config)
    .row.justify-content-center
        .col-lg-10.col-xxl-8
            .text-center
                h1.display-6.font-cursive !{config.title}
                p.fs-md-1.lh-base.mt-4 !{config.subTitle}