mixin FooterHero
    +Section#rea
        .row.align-items-center
            .col-lg.order-lg-1.text-center
                img.img-fluid(src=`${CWD}assets/img/illustrations/hero2.png`, alt="")
            .col-lg.mt-5
                h1.display-5.lh-sm.font-cursive Start an Open Enterprise
                p.fs-1.mt-4 If you can’t wait to run a new or existing organization on Open Enterprise and are willing to explore and navigate the beta, we’d love to get you started.
                button.btn.btn-green.mt-4 Request early access