append variables
    -	
        var navItems  = [
            {
                label:'Documentation',
                href:'#',
                active:false
            },
            {
                label:'Github',
                href:'#',
                active:false
            },
            {
                label:'Twitter',
                href:'#',
                active:false
            },
            {
                label:'Contact Us',
                href:'#',
                active:true
            },
        ]
mixin Footer
    +Section.py-4
        .row.justify-content-center.align-items-center
            .col-lg-4.text-sm-center.text-lg-start
                h2.mb-lg-0 Open Enterprise
            .col-lg-8
                .d-sm-flex.justify-content-sm-center.justify-content-lg-end
                    each item in navItems
                        a.fs-2.ps-sm-4.text-800.d-block(href=item.href) #{item.label}