mixin HeroHeader(config)
    +Section({
        image: `${CWD}assets/img/${config.image}`,
        className: 'd-none d-lg-block',
        attrs: { style: { 'background-position': 'right', 'background-size': '50%'}}
    }).pt-lg-0#hero
        .row.vh-lg-50.vh-xl-75.vh-xxl-100.align-items-center
            .col-sm-10.col-lg-6
                h1.fs-6.fs-sm-8.fs-md-11.fs-lg-9.fs-xxl-12.lh-sm.font-cursive.fw-medium!=config.title
                p.fs-2.fs-md-4.lh-sm.mt-4!=config.subtitle
                button.btn.btn-green.mt-4 Request early access